# Server
PORT=4000
ENV=development

# Database
DATABASE_URL=postgres://esportnews:secret@localhost:5432/esportnews

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=your-secret-key

# Frontend
FRONTEND_URL=http://localhost:3000

# APIs
PANDASCORE_API_KEY=rwFHKSceUVggRdOXVYu-fquzUGhb-bH14D785_BuLmD_kmV_ndk
